* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 1040px) {
  img {
    display: none;
  }
}
@media only screen and (min-width: 1040px) {
  img {
  height: 8%;
  margin-top: 25px;
  position: absolute;
  left: 50%;  
  transform: translateX(-50%);
  }

}
@media only screen and (min-width: 1550px) {
  img {
  height: 20%;
  margin-top: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  }
}

input[type="number"],
textarea,
select {
  font-size: 15px;
  padding: 8px;
  width: 200px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 3px solid rgb(64, 59, 69);
  background-color: rgb(100, 92, 108);
}

/*img {
  height: 20%;
  margin-top: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}*/

form {
  font-size: 20px;
  color: rgba(240, 248, 255, 0.835);
}

html, body:not(.note) {
  height: 100%;
  margin: 0;
}

body:not(.border, form, .note) {
  background-image: linear-gradient(to bottom, rgb(130, 23, 237), rgb(106, 18, 195));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  font-size: 24px;
  background-color: rgb(97, 7, 57);
  border-radius: 14px;
  padding: 15px 40px;
  border: rgb(13, 105, 139) 2px;
  color: rgba(240, 248, 255, 0.835);
  cursor: pointer;
}
button:hover {
  background-color: rgb(115, 8, 67);
}


.display_flex {
  display: flex;
}

.note {
  position: fixed;
  bottom: -5px;
  left: -5px;
  font-size: 19px;
  color: rgb(240, 248, 255, 0.835);
  width: 300px;
  height: 150px;
  border: 4px rgba(165, 165, 165, 0.85) dashed;
  padding: 10px;
}

.border {
  border: 4px solid rgb(103, 17, 173);
  border-radius: 25px;
  box-shadow: 0 0 15px rgb(141, 26, 235), 0 0 35px rgb(113, 17, 192);
  width: fit-content;
  padding: 1%;
  margin: 17.8%;
  margin-bottom: 0;
  margin-top: 1%;
  background-color: rgb(103, 17, 173);
}

.result {
  border: 7px solid rgb(84, 84, 84);
  border-radius: 100px;
  background-color: rgb(247, 216, 255);
  text-align: center;
  width: 50%;
  height: 7%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.center {
  text-align: center;
}